.button {
  position: relative;
  background: $button-colour;
  color: white;
  padding: em(10) em(15);
  border: 0;
  font-size: 1em;
  border-bottom: 2px solid darken($button-colour, 12);

  &:hover:not([disabled]) {
    background-color: darken($button-colour, 5);
  }

  &:active {
    border-color: transparent;
    top: 2px;
  }

  &:focus {
    outline: 3px solid $yellow;
  }

  & + button,
  & + input, {
    margin-left: .5em;
  }

  &[disabled] {
    opacity: .5;
    cursor: default;
    outline: none;

    &:active {
      border-color: inherit;
      top: 0;
    }
  }
}

.button-secondary {
  color: $black;
  background: $grey-2;
  border-color: $grey-1;

  &:hover:not([disabled]) {
    background-color: darken($grey-2, 5);
  }
}

.button-get-started {
  font-weight: 700;
  font-size: em(24);
  padding: em(8) em(40) em(8) em(20);
  background-image: img-url('icon-pointer-2x.png');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 30px 19px;
}
