.feature {
  @mixin feature-small {
    .feature-image-holder,
    .feature-text {
      @include span(full);
    }

    .meta {
      margin-top: .6em;
    }

    h2 {
      font-size: em(19);
    }

    .summary {
      font-size: em(14);
    }
  }

  @include span(full);
  max-width: 960px;

  .feature-image-holder {
    @include span(8 of 12 after);
  }

  .feature-text {
    @include span(4 of 12 after last);
  }

  .meta {
    font-size: em(14);
    color: $grey-1;
    margin-bottom: .6em;
  }

  .feature-image {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  h2 {
    font-size: em(24);
    margin: 0 0 .5em;

    a {
      text-decoration: none;
    }
  }

  .summary {
    font-size: em(19);
  }

  &.feature-small {
    @include feature-small;
    @include span(4 of 12);
  }

  &.last {
    margin-right: 0;
  }

  @include breakpoint(max-width 640px) {
    &.feature {
      @include feature-small;
      @include span(full);
    }
  }
}

.featured-news {
  @include clearfix;
}
