.feature {
  @include span(4 after);

  .meta {
    font-size: em(14);
    color: $grey-1;
    margin: .6em 0;
  }

  .feature-image {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  h2 {
    font-size: em(19);
    margin: 0 0 .5em;

    a {
      text-decoration: none;
    }
  }

  .summary {
    font-size: em(14);
  }

  &.first {
    @include span(full after last);

    .feature-image-holder {
      @include span(8 after);
    }

    .feature-text {
      @include span(4 after last);
    }

    h2 {
      font-size: em(24);
    }

    .meta {
      margin-top: 0;
    }
  }

  &.last {
    margin-right: 0;
  }
}


.features {
  @include clearfix;

  .feature {
    margin-bottom: gutters() * 2;
  }
}
