@import 'govuk/-essentials';

.phase-tag {
  padding: 2px 5px;
  margin-right: 10px;
  display: inline-block;
  color: $white;
  font-weight: bold;
  background: $grey-1;

  &.phase-tag-alpha {
    background: $alpha-colour;
  }

  &.phase-tag-beta {
    background: $beta-colour;
  }
}
