@mixin font($font-family: null, $size: null, $line-height: null) {
  @if $size {
    font-size: $size;
  }
  @if $font-family {
    @if map-has-key($fonts, $font-family) {
      font-family: unquote(map-get($fonts, $font-family));
    } @else {
      @warn "'#{$font-family}' is not specified in $fonts map."
    }
  }
  @if $line-height {
    line-height: $line-height;
  }
}

@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }
}
